{% extends "layout.html" %}

{% block title %}
    Adibatic Problems
{% endblock %}

{% block main %}
    <p>Calculate for an adibatic system, the final enthalpy, given pressure in bar and final temperature in celcius</p>
    <form action = "/adibatic" method = "post">

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="pressure" name="pressure" placeholder="Pressure (Bar)" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="temperature" name="temperature" placeholder="Final Temperature (°C)" type="text">
        </div>
        
        <button class="btn btn-primary" type="submit">Calculate</button>
    </form>

{% endblock %}