{% extends "layout.html" %}

{% block title %}
    Adibatic Problems
{% endblock %}

{% block main %}
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <p>Calculate for an Adibatic system, the final Specific Enthalpy for Saturated Steam, given Pressure in bar and final Temperature in celcius</p>
    <form action = "/adibatic" method = "post">

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="pressure" name="pressure" placeholder="Pressure (Bar)" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="temperature" name="temperature" placeholder="Final Temperature (°C)" type="text">
        </div>
        
        <button class="btn btn-primary" type="submit">Calculate</button>
    </form>

    <p style="margin-top: 40px;">For an Adibatic system, the Entropy \( H \) is constant throught the process. This means it will be the same at the starting Pressure and the final Temperature.</p>
    <p>Values of <sub>f</sub> <sub>g</sub> and <sub>fg</sub> are obtained from the Saturated tables</p>
    <p><b><u>Steps:</u></b></p>
    <p>1. Calculate the Dryness Fraction, \( x_{2} \) at \( s_2 \). Since it is Saturated steam, \( s_1 \) = \( s_g \)</p>
    <p>2. Since process is Adibatic, \( s_{1} \) is the same as \( s_{2} \) so \( x_2 \) at \( s_2 \) can be calculated</p>
    <p>3. Desired property, i.e final Enthalpy, \( h_2 \), can be calculated using \( x_2 \)</p>
    
    <div>
        <b><u>Specific Entropy:</u></b>
        \[ s_1 = s_g \]
        \[ s_2 = s_f + x_2 s_{fg} \]
    </div>
    <div>
        <b><u>Specific Enthalpy:</u></b>
        \[ h_2 = h_f + x_2 h_{fg} \]
    </div>
{% endblock %}