{% extends "layout.html" %}

{% block title %}
    Superheated & Critical Steam
{% endblock %}

{% block main %}
    <!--Is hardcoding the options good practice or use for loop, array like in Froshims example?-->
    <form action="/heated" method="POST">
        <label for="calcType">Select what to calculate:</label>
        <select id="calcType" name="calcType">
            <option disabled selected>Select an option</option>
            <option value="specific_volume">Specific Volume</option>
            <!--More properties later-->
            <option value="internal_energy">Internal Energy</option>
            <option value="specific_enthalpy">Specific Enthalpy</option>
            <option value="specific_entropy">Specific Entropy</option>
        </select>
        
        <div id="inputContainer" style="display: none;">

            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="temperature" name="temperature" placeholder="Temperature" type="text">
            
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="pressure" name="pressure" placeholder="Pressure" type="text">

            <button type="submit">Calculate</button>
        </div>
    </form>

    <script>
        const calcTypeSelect = document.getElementById('calcType');
        const inputContainer = document.getElementById('inputContainer');

        calcTypeSelect.addEventListener('change', function() {
            const selectedOption = calcTypeSelect.value;

            if (selectedOption === 'specific_volume' || selectedOption === 'internal_energy' || selectedOption === 'specific_enthalpy' || selectedOption === 'specific_entropy') {
                inputContainer.style.display = 'block';
            } else {
                inputContainer.style.display = 'none';
            }
        });
    </script>

{% endblock %}