{% extends "layout.html" %}

{% block title %}
    Pressure Superheated & Critical Steam
{% endblock %}

{% block main %}
    <p>
       Calculate a thermodynamic property that is found in the Superheated and Supercritical tables for a given Pressure and Temperature.
       If the Pressure and the thermodynamic property is not found within the tables but lies in a valid Temperature and Pressure range,
       i.e the Pressure range seen in the tables, linear interpolation is used to calculate the thermodynamic property.
    </p>
    <p>
       Note that only Temperature values seen in the Superheated and Supercritical tables will work.
       A Temperature interpolater is needed if the Temperature value is within the range as seen in the tables but not exactly the ones on there. 
    </p>


    <!--Is hardcoding the options good practice or use for loop, array like in Froshims example?-->
    <form action="/heated" method="POST">
        <label for="calcType">Calculate:</label>
        <select id="calcType" name="calcType">
            <option enabled selected>Property</option>
            <option value="specific_volume">Specific Volume</option>
            <!--More properties later-->
            <option value="internal_energy">Internal Energy</option>
            <option value="specific_enthalpy">Specific Enthalpy</option>
            <option value="specific_entropy">Specific Entropy</option>
        </select>
        
        <div id="inputContainer" style="display: none; margin-top: 20px;">
            
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="pressure" name="pressure" placeholder="Pressure (Bar)" type="text">
            </div>
            
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="temperature" name="temperature" placeholder="Temperature (°C)" type="text">
            </div>

            <button class="btn btn-primary" type="submit">Calculate</button>

        </div>
    </form>

    <script>
        const calcTypeSelect = document.getElementById('calcType');
        const inputContainer = document.getElementById('inputContainer');

        calcTypeSelect.addEventListener('change', function() {
            const selectedOption = calcTypeSelect.value;

            if (selectedOption === 'specific_volume' || selectedOption === 'internal_energy' || selectedOption === 'specific_enthalpy' || selectedOption === 'specific_entropy') {
                inputContainer.style.display = 'block';
            } else {
                inputContainer.style.display = 'none';
            }
        });
    </script>

{% endblock %}