{% extends "layout.html" %}

{% block title %}
    Saturated Pressure Result
{% endblock %}

{% block main %}
    <div>
        <p><strong>The Pressure using tables is {{ pressure }} bar</strong></p>
        <p><b>The Pressure using the Arden Buck equation is {{ Buck_pressure }} bar</b></p>
        <p><b>The Pressure using the Affandi equation is {{ Affandi_press }} bar</b></p>
    </div>

    <h2 style="margin-top: 40px;">Error Graph</h2>
    <img src="{{ url_for('static', filename='error_graph_p.png') }}" alt="Error Graph">

{% endblock %}