{% extends "layout.html" %}

{% block title %}
    Properties
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="text-center">PressureL Data</h1>
        <table class="table mx-auto">
            <thead>
                <tr>
                    <th>Pressure (bar)</th>
                    <th>Temperature (C)</th>
                    <th>Volume (m3/kg)</th>
                    <th>Internal Energy (kJ/kg)</th>
                    <th>Enthalpy (kJ/kg)</th>
                    <th>Entropy (J/g*K)</th>
                    <th>Phase</th>
                </tr>
            </thead>
            <tbody>
                {% for data in pressure_l_data %}
                <tr>
                    <td>{{ data.pressure_bar }}</td>
                    <td>{{ data.temperature_c }}</td>
                    <td>{{ data.volume_m3_kg }}</td>
                    <td>{{ data.u_kJ_kg }}</td>#
                    <td>{{ data.enthalpy_kJ_kg }}</td>
                    <td>{{ data.entropy_J_gK }}</td>
                    <td>{{ data.phase }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="text-center">PressureV Data</h1>
        <table class="table mx-auto">
            <thead>
                <tr>
                    <th>Pressure (bar)</th>
                    <th>Temperature (C)</th>
                    <th>Volume (m3/kg)</th>
                    <th>Internal Energy (kJ/kg)</th>
                    <th>Enthalpy (kJ/kg)</th>
                    <th>Entropy (J/g*K)</th>
                    <th>Phase</th>
                </tr>
            </thead>
            <tbody>
                {% for data in pressure_v_data %}
                <tr>
                    <td>{{ data.pressure_bar }}</td>
                    <td>{{ data.temperature_c }}</td>
                    <td>{{ data.volume_m3_kg }}</td>
                    <td>{{ data.u_kJ_kg }}</td>#
                    <td>{{ data.enthalpy_kJ_kg }}</td>
                    <td>{{ data.entropy_J_gK }}</td>
                    <td>{{ data.phase }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="text-center">TemperatureL Data</h1>
        <table class="table mx-auto">
            <thead>
                <tr>
                    <th>Temperature (C)</th>
                    <th>Pressure (bar)</th>
                    <th>Volume (m3/kg)</th>
                    <th>Internal Energy (kJ/kg)</th>
                    <th>Enthalpy (kJ/kg)</th>
                    <th>Entropy (J/g*K)</th>
                    <th>Phase</th>
                </tr>
            </thead>
            <tbody>
                {% for data in temperature_l_data %}
                <tr>
                    <td>{{ data.temperature_c }}</td>
                    <td>{{ data.pressure_bar }}</td>
                    <td>{{ data.volume_m3_kg }}</td>
                    <td>{{ data.u_kJ_kg }}</td>#
                    <td>{{ data.enthalpy_kJ_kg }}</td>
                    <td>{{ data.entropy_J_gK }}</td>
                    <td>{{ data.phase }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="text-center">TemperatureV Data</h1>
        <table class="table mx-auto">
            <thead>
                <tr>
                    <th>Temperature (C)</th>
                    <th>Pressure (bar)</th>
                    <th>Volume (m3/kg)</th>
                    <th>Internal Energy (kJ/kg)</th>
                    <th>Enthalpy (kJ/kg)</th>
                    <th>Entropy (J/g*K)</th>
                    <th>Phase</th>
                </tr>
            </thead>
            <tbody>
                {% for data in temperature_v_data %}
                <tr>
                    <td>{{ data.temperature_c }}</td>
                    <td>{{ data.pressure_bar }}</td>
                    <td>{{ data.volume_m3_kg }}</td>
                    <td>{{ data.u_kJ_kg }}</td>#
                    <td>{{ data.enthalpy_kJ_kg }}</td>
                    <td>{{ data.entropy_J_gK }}</td>
                    <td>{{ data.phase }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="text-center">Superheated Steam Data</h1>
        <table class="table mx-auto">
            <thead>
                <tr>
                    <th>Pressure (p)</th>
                    <th>Saturation Temperature (°C)</th>
                    <th>Volume (v)</th>
                    <th>Internal Energy (u)</th>
                    <th>Enthalpy (h)</th>
                    <th>Entropy (s)</th>
                </tr>
            </thead>
            <tbody>
                {% for data in super_data %}
                <tr>
                    <td>{{ data.p }}</td>
                    <td>{{ data.sat_T_c }}</td>
                    <td>{{ data.v }}</td>
                    <td>{{ data.u }}</td>
                    <td>{{ data.h }}</td>
                    <td>{{ data.s }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="text-center">Supercritical Steam Data</h1>
        <table class="table mx-auto">
            <thead>
                <tr>
                    <th>Pressure (p)</th>
                    <th>Saturation Temperature (°C)</th>
                    <th>Volume (v)</th>
                    <th>Enthalpy (h)</th>
                </tr>
            </thead>
            <tbody>
                {% for data in critical_data %}
                <tr>
                    <td>{{ data.p }}</td>
                    <td>{{ data.sat_T_c }}</td>
                    <td>{{ data.v }}</td>
                    <td>{{ data.h }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
